{% extends 'base.html' %}

{% block content %}
{% for post in blogs %}
   <div style="border: 1px solid #ddd; padding: 15px; margin-bottom: 15px;">
       <h2>{{ post.title }}</h2>
       <p>{{ post.description }}</p>
       <a href="{% url 'detail-class' post.pk %}">{{ post.pk }}</a>
       <p>Like soni: {{ post.total_likes }}</p>

       {% if user.is_authenticated %}
           <form action="{% url 'like_post' post.id %}" method="POST">
               {% csrf_token %}

               {% if user in post.likes.all %}
                   <button type="submit">Unlike 💔</button>
               {% else %}
                   <button type="submit">Like ❤️</button>
               {% endif %}
           </form>
       {% else %}
           <p>Like bosish uchun login qiling.</p>
       {% endif %}
   </div>
{% endfor %}
{% endblock %}
