<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Telefonlar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">
    <nav class="mb-4">
        {% if request.user.is_authenticated %}
        Welcome {{ request.user.username }}    ROLE {{ request.user.role }}
                <a href="{% url 'logout' %}" class="btn btn-outline-primary">logout</a>

        <a class="nav-link" href="{% url 'profile' %}">Profile </a>



        <a  href="{% url 'change' %}">change </a>
        <a  href="{% url 'add_group' %}">add_group </a>



        {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-primary">login</a>

        {% endif %}
    </nav>
    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>
